*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    height:10vh;
    padding-right:5%;
    padding-left:5%;
    background-color: #7840FF;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar h3{
    color:#FBFBFD;
}
body{
    font-size:16px;
    width:100%;
    font-family:'Montserrat',sans-serif;
    background-color:#FBFBFD;
}
.league{
    width:90%;
    margin:auto;
}
.heading{
    font-size:64px;
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
}
.logo-isl{
    width:40%;
    height:auto;
    margin:30px 30%;
}
.logo-ipl{
    width:30%;
    height:auto;
    margin:30px 35%;
}
.logo-pkl{
    width:50%;
    height:auto;
    margin:0 25%;
}
.details{
    font-size:22px;
    line-height:32px;
    text-align:left;
}
.teams-section{
    width:90%;
    margin:auto;
}
.teams{
    display:grid;
    grid-template-columns:16% 5% 16% 5% 16% 5% 16% 5% 16%;
}
.teams-ipl{
    display:grid;
    grid-template-columns:18% 8% 18% 8% 18% 8% 18%;
}
.teams-pkl{
    display:grid;
    grid-template-columns:13% 4.4% 13% 4.4% 13% 4.4% 13% 4.4% 13% 4.4% 13%;
}
.team1{
    grid-column:1/2;
    width:100%;
}
.team2{
    grid-column:3/4;
    width:100%;
}
.team3{
    grid-column:5/6;
    width:100%;
}
.team4{
    grid-column:7/8;
    width:100%;
}
.team5{
    grid-column:9/10;
    width:100%;
}
.team11{
    grid-column:11/12;
    width:100%;
}
.team6{
    grid-column:1/2;
    width:100%;
}
.team7{
    grid-column:3/4;
    width:100%;
}
.team8{
    grid-column:5/6;
    width:100%;
}
.team9{
    grid-column:7/8;
    width:100%;
}
.team10{
    grid-column:9/10;
    width:100%;
}
.team12{
    grid-column:11/12;
    width:100%;
}
.team1 img,.team2 img,.team3 img,.team4 img,.team5 img,.team6 img,.team7 img,.team8 img,.team9 img,.team10 img,.team11 img,.team12 img{
    width:100%;
    height:auto;
}
.kkr,.kxip,.rcb,.rr,.mi,.jpp,.um,.uy{
    text-align:center;
}
.kkr img{
    width:65%;
}
.kxip img{
    width:85%;
}
.rcb img{
    width:50%;
}
.rr img{
    width:85%;
}
.mi img{
    margin-top:12%;
    width:110%;
}
.jpp img{
    padding-top:20%;
}
.tt img{
    padding-top:15%;
}
.tet img{
    padding-top:25%;
}
.um img{
    width:120%;
    padding-top:40%;
}
.uy img{
    width:120%;
    margin-top:40%;
}
.team1 p,.team2 p,.team3 p,.team4 p,.team5 p,.team6 p,.team7 p,.team8 p,.team9 p,.team10 p,.team11 p,.team12 p{
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    font-size:20px;
}
.facts{
    width:90%;
    margin:auto;
}
.grid{
    display:grid;
    grid-template-columns:45% 10% 45%;
}
.content{
    grid-column:1/2;
}
.image{
    grid-column:3/4;
    align-self:center;
}
.image img{
    width:100%;
    height:auto;
}
footer{
    height:10vh;
    background-color:#7840FF;
    margin-top:50px;
}
.image p{
    text-align:center;
}
@media screen and (max-width:1124px){
    .grid{
        grid-template-columns: 5% 90% 5%;
    }
    .content{
        grid-column:2/3;
    }
    .image{
        grid-column:2/3;
    }
    .details{
        font-size:18px;
        line-height:28px;
        padding-bottom:30px;
    }
    .heading{
        font-size:50px;
    }
    .teams{
        display:grid;
        grid-template-columns:18.4% 2% 18.4% 2% 18.4% 2% 18.4% 2% 18.4%;
    }
    .teams-ipl{
        display:grid;
        grid-template-columns:21% 4% 21% 4% 21% 4% 21%;
    }
    .teams-pkl{
        display:grid;
        grid-template-columns:15% 2% 15% 2% 15% 2% 15% 2% 15% 2% 15%;
    }
    .team1 p,.team2 p,.team3 p,.team4 p,.team5 p,.team6 p,.team7 p,.team8 p,.team9 p,.team10 p,.team11 p,.team12 p{
        font-size:16px;
    }
}
@media screen and (max-width:768px){
    .logo-isl{
        width:80%;
        margin:30px 10%;
    }
    .logo-ipl{
        width:70%;
        margin:30px 15%;
    }
    .logo-pkl{
        width:90%;
        margin:20px 5%;
    }
    .heading{
        font-size:40px;
    }
    .teams,.teams-pkl,.teams-ipl{
        grid-template-columns:35% 30% 35%;
    }
    .team1,.team3,.team5,.team7,.team9,.team11{
        grid-column:1/2;
    }
    .team2,.team4,.team6,.team8,.team10,.team12{
        grid-column:3/4;
    }
    .mi,.rr,.pp,.tt,.um{
        grid-column:1/2;
    }
    .srh,.rcb,.tet,.uy,.pun{
        grid-column:3/4;
    }
    .team1 p,.team2 p,.team3 p,.team4 p,.team5 p,.team6 p,.team7 p,.team8 p,.team9 p,.team10 p,.team11 p,.team12 p{
        font-size:14px;
    }
}